// Colors
.is-text-link {
  color: $primary-default;
}

.is-text-error {
  color: $red-100;
}

.is-text-info {
  color: $blue-100;
}

.is-text-warning {
  color: $yellow-100;
}

.is-text-success {
  color: $green-100;
}

.is-text-gray {
  color: $text-80;
}

.is-text-white {
  color: $neutral-0;
}

//Bg-colors
.bg-link {
  background-color: $primary-default;
}

.bg-error {
  background-color: $red-100;
}

.bg-info {
  background-color: $blue-100;
}

.bg-warning {
  background-color: $yellow-100;
}

.bg-success {
  background-color: $green-100;
}

.bg-gray {
  background-color: $text-80;
}