html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.67em;
}

h2, h3, h4, h5, h6 {
  margin-top: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p {
  margin-top: 0;
  line-height: 1.5;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

button {
  border-radius: 0;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
