$system-01-button-03-white-02-hover: #f5f6fa;
$system-01-button-03-white-03-active: #fff;
$system-01-button-03-white-04-disabled: #d7dbec;
$system-01-button-04-destructive-primary-02-hover: #f34359;
$system-01-button-04-destructive-primary-03-active: #f12b43;
$system-01-button-04-destructive-primary-04-disabled: #d7dbec;
$system-01-button-05-destructive-secondary-02-hover: #fcd5d9;
$system-01-button-05-destructive-secondary-03-active: #fde7ea;
$system-01-button-05-destructive-secondary-04-disabled: #d7dbec;
$system-01-button-02-secondary-02-hover: #ecf2ff;
$system-01-button-02-secondary-03-active: #d9e4ff;
$system-01-button-02-secondary-04-disabled: #d7dbec;
$system-01-button-01-primary-02-hover: #4f81ff;
$system-01-button-01-primary-03-active: #336dff;
$system-01-button-01-primary-04-disabled: #d7dbec;
$system-02-input-02-hover: #fff;
$system-02-input-03-active: #fff;
$system-02-input-04-error: #fff;
$system-02-input-05-success: #fff;
$system-02-input-06-disabled: #f1f4fa;
$system-05-cards-02-shadow: #fff;
$system-05-cards-03-border: #fff;
$primary-100: #1e5eff;
$primary-40: #d9e4ff;
$primary-80: #4f81ff;
$red-red-100: #f0142f;
$red-red-90: #f12b43;
$general-0: #fff;
$general-100: #131523;
$general-80: #5a607f;
$general-70: #7e84a3;
$general-40: #e6e9f4;
$general-50: #d7dbec;
$green-90: #1fd286;
$green-100: #06a561;
$yellow-90: #ffc700;
$yellow-100: #f99600;
