.button {
    padding: 5px 16px;
    font-family: $main-font;
    font-weight: 400;
    font-size: $main-font-size;
    /* line-height: 150%; */
    border-radius: 4px;
    color: $neutral-0;
    border: transparent;
    background-color: $primary-default;
    cursor: pointer;
   
    &:hover, 
    &:focus,
    &:active {
      background-color: $primary-hover;
    }
    &:disabled {
        background-color: $neutral-400;
    }
  }

  .btn {
    &-small {
        padding: 8px 14px;
        font-size: 14px;
      }
    &-large {
        padding: 8px 16px;
      }
    &-destructive {
        background-color: $secondary-red;
        &:hover, 
        &:focus,
        &:active {
      background-color: $secondary-orange;
    }
    }
    &-white {
        background-color: $neutral-0;
        border: 1px solid $primary-default;
        color: $primary-default;
        &:hover, 
        &:focus,
        &:active {
            background-color: $neutral-600;
        }
         &:disabled {
            background-color: $neutral-400;
        }
    }
  }

