.demo-box {
  pre[class*=language-] {
    margin: 0;
  }
  .code-title {
    background-color: #2d2d2d;
    color: #ffffff;
    display: inline-block;
    padding: 6px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
  }

  .col-content {
    overflow-x: auto;
    overflow-y: visible;
    position: relative;

    &.no-overflow {
      overflow: visible;
    }

    &:hover {
      .copy-btn-block {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
  }
}
.columns {
  display: flex;
  margin: 0 -16px;
  width: calc(100% + 32px);
}

.col.w50p {
  width: 50%;
  padding: 0 12px;
}